*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
} 
html{
    font-size: 57%;
}
body{
    overflow-x: hidden;
    background-color: black;
}

.header{
    position: absolute;
    top: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    z-index: 2;
  }
  .header .logo i{
    height: 60px;
    width: 60px;
    background: transparent;
    border: 4px solid #3947d7;
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
  }
  .header .navbar #close{
    display: none;
    position: absolute;
    top: 4rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3rem;
    color: #fff;
  }
  .header .navbar a{
    font-size: 2rem;
    margin-right: 2rem;
    color: #fff;
    padding: 10px 20px;
  }
  .header .navbar a:hover{
    color: #3947d7;
  }
  .header #menu{
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: #fff;
  }
  .main-width{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}
.hero{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../background/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.container{
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    margin-top: 80px;
}
.container .hero-text{
    flex: 1 1 40rem;
    margin-left: 5.7rem;
}
.container .hero-text h1{
    color: white;
    font-size: 47px;
    font-weight: 900;
    line-height: 1.2;
    margin: 20px 0px 20px;
}
span{
    color: #3947d7;
}
.container .hero-text h3{
    color: #eee;
    font-weight: 400;
    font-size: 40px;
}
.container .image img{
    flex: 1 1 40rem;
}
.container .image img{
    width: 400px;
    margin-left: 7rem;
    margin-top: -1rem;
}
.social a{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #eee;
    cursor: pointer;
    margin-right: 20px;
    background-color: #262626;
    margin-bottom: 50px;
}
.social a:hover{
    background: #3947d7;
    transition: .4s;
}
.button a{
    color: #eee; 
    background: #3947d7;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    padding: 8px 30px;
    border: 2px solid #3947d7;
    border-radius: 30px;
    cursor: pointer;
}
.button a:hover{
    background: transparent;
    border: 2px solid #3947d7;
    color: #3947d7;
    transition: .4s;
}
@media (max-width:930px){
    .header #menu{
      display: inline-block;
    }
    .header .navbar{
      position: fixed;
      top: 0; right: -105%;
      width: 25rem;
      background: rgba(255,255,255,0.2);
      backdrop-filter: blur(50px);
      transition: .5s;
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: center;
      z-index: 1200;
    }
    .header .navbar.active{
      right: 0;
    }
    .header .navbar #close{
      display: block;
    }
    .header .navbar a{
      display: block;
      margin: 1rem 0;
      text-align: center;
      font-size: 2rem;
    }
    .header .logo i {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
    .container .hero-text{
        margin: 0 auto;
        text-align: center;
    }
    .container .hero-text h3{
        font-size: 30px;
    }
    .container .hero-text h1{
        font-size: 30px;
    }
    .container .image img{
        width: 200px;
        display: block;
        margin: 0 auto;
        margin-top: -120px;
    }
    .container .hero-text .button {
        margin-top: -20px;
    }
}

/*---------about me---------*/
.contain {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../background/bginv.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 9%;
    justify-content: center; 
}
.about-me {
    height: 100%;
    width: 80%;
    margin: 50px 0;
    color: white;
    padding: 25px;
    background-color: #262626;
    border-radius: 10px;
}
.about-me h2 {
    font-size: 47px;
    margin-bottom: 10px;
}
.about-me p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}
.about-me p:last-child {
    margin-bottom: 0;
}
.about-me h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #3947d7;
    margin-top: 10px;
}
.about-me:hover {
    background-color: #3947d7;
    transition: .4s;
}
.about-me:hover h2::after {
    background-color: #000000;
}
@media screen and (max-width: 930px) {
    .contain {
        justify-content: center;
        padding: 2rem 6%;
    }
    .about-me{
        width: 100%;
        margin-left: 40px;
        display: block;
        margin: 0 auto;
    }
    .about-me h2{
        font-size: 30px;
    }
    .about-me p{
        font-size: 14px;
    }
}
/*---------skills-----------*/
.skills_section{
    color: white;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 2rem 9%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../background/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.skills_head h2{
    font-size: 47px;
    margin-bottom: 50px;
}
.skills_head h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #3947d7;
    margin-top: 10px;
    margin-bottom: 50px;
}
.skills_main{
    width: 100%;
    display: grid;
    padding: 20px;
    background-color: #262626;
    border-radius: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p{
    font-size: 20px;
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: black;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 25px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #3947d7;
    border-radius: 25px;
}
.skill_bar .bar .html{width: 80%;}

.skill_bar .bar .css{width: 80%;}


.skill_bar .bar .js{width: 60%;}


.skill_bar .bar .react{width: 60%;}


.skill_bar .bar .sql{width: 60%;}


.skill_bar .bar .java{width: 90%;}


.skill_bar .bar .c{width: 80%;}


.skill_bar .bar .python{width: 70%;}


.skill_bar .bar .design{width: 90%;}


.skill_bar .bar .solidity{width: 60%;}

@media screen and (max-width: 930px) {
    .skills_section{
        padding: 2rem 6%;
    }
    .skills_head h2{
        font-size: 30px;
    }
    .skills_main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .skill_bar .bar{
        margin-bottom: 16px;
        height: 8px;
    }
    .skill_bar .info p{
        font-size: 16px;
        font-weight: 300;
    }
}


/*---------Projects---------*/
.projects{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 2rem 9%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../background/bginv.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
}
.projects h1{
    font-size: 47px;
    margin-bottom: 20px;
    margin-right: 100px;
}
.projects h1::after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background-color: #3947d7;
    margin-top: 10px;
    margin-bottom: 50px;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
}
.layer{
    width: 100%;
    height: 0;
    color: white;
    background: linear-gradient(rgba(0,0,0,0.6), #3947d7);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.3s;
}
.layer h3{
    font-size: 20px;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #3947d7;
    text-decoration: none;
    font-size: 26px;
    line-height: 50px;
    background: white;
    width: 50px;
    height: -60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover .layer{
    height: 100%;
}
@media screen and (max-width: 930px) {
    .projects {
        padding: 2rem 6%;
    }
    .projects h1{
        font-size: 30px;
    }
}
/*---------contact----------*/
.main-width-contact {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 2rem 9%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../background/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.contact-left{
    flex-basis: 35%;   
    margin-top: 40px;
}
.contact-right{
    flex-basis: 60%;
    margin-top: 40px
}
.contact-left h1{
    color: white;
    font-size: 47px;
}
.contact-left p{
    color: white;
    margin-top: 30px;
    font-size: 18px;
}
.contact-left p i{
    color: #3947d7;
    margin-right: 15px;
    font-size: 25px;
}
.contact-left h1::after {
    content: "";
    display: block;
    width: 150px;
    height: 3px;
    background-color: #3947d7;
    margin-top: 10px;
}
.btn.btn2{
    color: white;
    display: inline-block;
    background: #3947d7;
    border: 2px solid #3947d7;
    padding: 8px 30px;
    border-radius: 10px;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.copyright{
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background: #262626;
    font-weight: 300;
    font-size: 16px;
}
.main-width-contact .btn.btn2:hover{
    background: transparent;
    border: 2px soid #3947d7;
    color: #3947d7;
    transition: .4s;
}
@media screen and (max-width: 930px) {
    .main-width-contact{
        padding: 2rem 6%;
    }
    .contact-left{
        width: 100%;
        flex-basis: 100%;
    }
    .contact-left h1{
        font-size: 30px;
    }
    .contact-left p{
        font-size: 15px;
    }
    .contact-left p i{
        font-size: 20px;
    }
    .contact-right{
        flex-basis: 100%;
    }
    .btn.btn2{
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 8px 26px;
        font-size: 14px;
    }
    form input, form textarea {
        font-size: 14px;
    }
    .copyright{
        font-size: 12px;
    }
}
