/* Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
html {
    font-size: 57%;
}
body {
    overflow-x: hidden;
    background-color: black;
}
span {
    color: #3947d7;
}
